.container {
    max-width: 820px;
    margin-inline: auto;
    padding: 30px 20px;

    h1 {
        color: teal;
    }

    .todoList {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 0;

     
    }
    
}